
/*****************
      шрифты
*****************/

@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes/TTLakes-Bold.eot');
	src: local('☺'), url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'), url('/fonts/TTLakes-Bold.ttf') format('truetype'), url('/fonts/TTLakes-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes/TTLakes-Regular.eot');
	src: local('☺'), url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'), url('/fonts/TTLakes-Regular.ttf') format('truetype'), url('/fonts/TTLakes-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TTLakes';
	src: url('/fonts/TTLakes/TTLakes-Medium.eot');
	src: local('☺'), url('/fonts/TTLakes/TTLakes-Medium.woff'),  format('truetype'), url('/fonts/TTLakesCondensed-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/********************

       медиа
             
********************/

@media screen and (min-width: 768px) and (orientation: landscape)
 {

}
@media not screen and (orientation: portrait), (max-width: 767px) {
.header__divider-left {
    display: none;
}
}


body {
    margin: 0 auto;
}

.mobile-body {
    font-family: 'TTLakes', sans-serif;
    min-width: 320px;
    
}
.header {
    display: flex;
    height: 88px;
    align-items: center;
    padding-left: 0 16px 0 16px;
    margin: 0;
    
}
.mobile-body__header {
    display: flex;
    width: auto;
}
.divider {
    background-color: #EAEAEA;;
    width: 2px;
    height: 32px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 16px 0 16px;
}
.nav {
}
.header__nav-button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.button:active {
    transform: translateY(1px);
}
button:focus {
   box-shadow: 0 0 0 2px #41F6D7;
 }
.button:hover {
    box-shadow: 0 0 0 2px #41F6D7;
}
.button {
    outline: none;
    cursor: pointer;
    border: none; 
    font-family: inherit;
    font-weight: 500;
    color: #7E7E82;
    background-color: transparent;
}
.logo {
}
.container {
    background: #F8F8F8;
    border-top: 1px solid #41F6D7;
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
}
.title::before {
    content: url(../img/highlight.svg);
    position: relative;
    left: -16px;
    color: #41F6D7;
}
.container__title {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.container__menu {
    height: 65px;
    padding: 3px 3px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}
.scroll-menu {
    display: flex;
    flex-direction: row;
    
}
.scroll-menu__button:focus {
    background-color: white;
}
.scroll-menu__button {
    padding: 8px 16px;
    font-size: 16px;
    height: 40px;
    border-radius: 6px;
}
.scroll-menu__button-text {
    white-space: nowrap;
}
.main {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.main__p {
}
.hidden-text {
    display: none;
}
.check {
    padding-left: 30px;
}
.check__input {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.check__input:focus + .check__box {
    box-shadow: 0 0 0 2px #41F6D7;
    width: 1em;
    height: 1em;
    border-radius: 2px;
}
.check__box {
    position: absolute;
    margin-left: -25px;
    margin-top: 5px;
    width: 1em;
    height: 1em;
    background: url(../img/icon.png) no-repeat center;
}
.span-read-more {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.check__input:checked ~ .hidden-text {
    display: inline-block;
}