.mobile-body {
    
    width: 320px;
    
}
.header {
}
.mobile-body__header {
}
.header__nav {
}
.nav {
}
.header__nav-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.header__nav-button:active {
    transform: translateY(1px);
}
.header__nav-button:focus {
    box-shadow: 0 0 0 3px #41F6D7;
 }
 .header__nav-button {
    outline: none;
 }

.button {
}
.logo {
}
.container {
}
.container__title {
}
.title {
}
.container__menu {
}
.scroll-menu {
}
.scroll-menu__button {
}
.main {
}
.main__text {
}
.main__p {
}
.hidden-text {
    display: none;
}
.check {
    padding-left: 1.2em;
}
.check__input {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.check__box {
    position: absolute;
    margin-left: -1.2em;
    width: 1em;
    height: 1em;
    background: url(../img/icon.png) no-repeat center;
    
}
.check__input:checked ~ .hidden-text {
    display: inline-block;
}